img {
  width: 50%;
  float: right;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFEEB;
}

.topnav {
  overflow: hidden;
  background-color: #FFFEEB;
}

.topnav a {
  float: left;
  color: #ACAD71;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Playfair Display";
}

.topnav a:hover {
  color: #lightpink;
}

.topnav a.active {
  color: #ACAD71;
}
.topnav a.split {
  float: right;
  background-color: #FFFEEB;
  color: #ACAD71;
}


.container1 {
  position: static;
  text-align: center;
  margin-top: 290px;
  margin-bottom: 370px;
}

.container2 {
  text-align: center;
  margin-top: 575px;
}


.column {
  float: left;
  width: 50%;
  padding: 5px;
  flex: 50%;
}

.row {
  display: flex;
}
 * {
  box-sizing: border-box;
}

.row {
  display: flex;
}
.column {
  position: relative;
  flex: 33.33%;
  padding: 5px;
}

.headings {
  text-align: center;
  margin-top: 30px;
} 

.recents {
  float: right;
  padding: 28px;
  padding bottom: 5px;
}

footer {
  text-align: center;
  padding: 25px;
  background-color: #FFFEEB;
  color: black;
  font-family: "Playfair Display";
}

div {
  background-color: #FFFEEB;
}

h2 {
  font-family: "Playfair Display";
}
h3 {
  font-family: "Playfair Display";
}
h4 {
  font-family: "Playfair Display";
}

.product {
  width: 50%;
  float: left;
}

.container4 {
  position: static;
  text-align: center;
}

.container7 {
    margin-top: 3px;
    margin-bottom: 6px;
  }


.btn btn-primary {
  background-color: #ACAD71;
}


.logo1 {
    float: static;
    width: 3%;
    padding: 5px;
    margin-left: auto;
    margin-right: 47%;
  }
  .logo2 {
    float: static;
    width: 3%;
    padding: 5px;
    margin-left: auto;
  }

    .container {
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .links:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

 .links:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
 .links:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
 .links:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

 .shop{
  padding:5px;
 }

 .card-img {
  width: 25%;
  margin-right: 25%;
  padding: 5px;
 }

 .card-img1 {
  width: 25%;
  margin-left: 25%;
 padding: 5px;
 }

