img {
  width: 50%;
  float: right;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #538083;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #385557;
}

.topnav a.active {
  color: #385557;
}
.topnav a.split {
  float: right;
  background-color: white;
  color: #538083;
}

.container {
  position: static;
  text-align: center;
  margin-top: 290px;
  margin-bottom: 600px;
}

.container2 {
  text-align: center;
  margin-top: 575px;
}

.imgpair {
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  flex: 50%;
}

.row {
  display: flex;
}
 * {
  box-sizing: border-box;
}

.row {
  display: flex;
}
.column {
  position: relative;
  flex: 33.33%;
 padding: 5px;
}

.headings {
  text-align: center;
  margin-top: 30px;
} 

/*.recents {
  float: right;
  padding: 25px;
}*/
