img {
  width: 50%;
  float: right;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFDD0;
}

.topnav {
  overflow: hidden;
  background-color: #FFFEEB;
}

.topnav a {
  float: left;
  color: #BCBD8B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #BCBD8B;
}

.topnav a.active {
  color: lightpink;
}
.topnav a.split {
  float: right;
  background-color: #FFFEEB;
  color: #BCBD8B;
}


.container {
  position: static;
  text-align: center;
  margin-top: 290px;
  margin-bottom: 370px;
}

.container2 {
  text-align: center;
  margin-top: 575px;
}

.imgpair {
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  flex: 50%;
}

.row {
  display: flex;
}
 * {
  box-sizing: border-box;
}

.row {
  display: flex;
}
.column {
  position: relative;
  flex: 33.33%;
 padding: 5px;
}

.headings {
  text-align: center;
  margin-top: 30px;
} 

.recents {
  float: right;
  padding: 35px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: lightpink;
  color: white;
}

div {
  background-color: #FFFEEB;
  font-family: "Playfair Display";
}

.product {
  width: 50%;
  float: left;
}

.container4 {
  position: static;
  text-align: center;
}